pipeline/Demo4-lookup activity.json
{
	"name": "Demo4-lookup activity",
	"properties": {
		"activities": [
			{
				"name": "get_lastmodified_date",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ADLS_demo3000_inputfile",
						"type": "DatasetReference"
					},
					"fieldList": [
						"lastModified",
						"size",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Lookup last execution date",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "get_lastmodified_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_LastLoadDate]",
						"storedProcedureParameters": {
							"Name": {
								"type": "String",
								"value": {
									"value": "@activity('get_lastmodified_date').output.itemName",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SourceDataset_wjj",
						"type": "DatasetReference"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-02-07T17:31:40Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}